
/* .cv_right { float:right; _position:relative; } */
.cv_right {margin-left: 42px; position: absolute;}

.image.avatar {
      border-radius: 100%;
      overflow: hidden;
    }

      .image.avatar img {
        border-radius: 100%;
        display: block;
        width: 70%;
        /*position: absolute;
        left: 0px;*/


      }

h1 {
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h2, h3 {
    /*color: #a31f34;*/
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    padding-top: 0.5em;
    border-bottom: 1px solid #aaaaaa;
}

h1 {
    font-size: 250%;
}

h2 {
    padding-top: 0.8em;
    font-size: 160%;
}

h2 + h3 {
    padding-top: 0.2em;
}

h3 {
    font-size: 110%;
    border-bottom: none;
}

/* Footer */

  #footer {
    border-top: 0;
    color: #c0c0c0;
    overflow: hidden;
    padding: 2em 0 1em 0;
  }

    #footer .copyright {
      line-height: 1em;
      list-style: none;
      padding: 0;
    }

      #footer .copyright li {
        border-left: solid 1px #d4d4d4;
        display: inline-block;
        font-size: 0.8em;
        margin-left: 1em;
        padding-left: 1em;
      }

        #footer .copyright li:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }

        #footer .copyright li a {
          color: inherit;
        }